p{
            padding: 0px;
            margin: 0px;
        }

.header {
    font-family: Roboto; 
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 200px;
    }

    .top-bar {
        background-color: #1f2937;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: stretch;
        padding-top: 20px;
        flex: 1 1 100;
        
    }

    .logo{
        font-weight: 1000;
        font-size:larger;
    }

    a {
    text-decoration: none;
        color: rgb(216, 216, 216);
        }

    .links{
        display: flex;
        gap: 40px;
    }

    .tagline{
        font-size: 40px;
        font-weight: 700;
        }

    .main-one{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 60px 0px;
        max-width: 800px;

        
    }
    .text-one{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 20px;

        }

    .subtext{
        color: rgb(218, 218, 218);
        margin: 10px 0px;
    }

    button{
        background-color: #3382f6;
        color: white;
        font-size: 16px; font-weight: 600;
        border-style: none;
        border-radius: 6px;
        padding: 8px 32px;}

/*BOW ONE ABOVE*/
/*BOX TWO BELOW*/

.main-two{
    display: flex;
    flex-direction: column;
    font-family: roboto;
    flex-wrap: wrap;
    }

    .random {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px; font-weight: 800;
        
        

    }
    .photo-box{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 100px;
        gap: 20px;
        
        
        
    }

    .image{
    
    max-width: 200px; 
    flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
        

    }

    .photo-box img {
        border:5px solid;
        border-color: #253d5f;
        border-radius: 20.6px;

    }

/*BOX TWO ABOVE*/
/*BOX THREE BELOW*/

.main-three{
    font-family: roboto;
    background-color:#e5e7eb ;
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    }


    .quote p{
        font-weight: 300;
        font-style: italic;
        color: #1f2937;
        font-size: 26px;
        flex-wrap: wrap;
        max-width: 800px;
    }

    .author{
        justify-items: end;
        width: 800px;
        font-size: 20px;
        font-weight: bolder;
        }

/*BOX THREE ABOVE*/
/*BOX FOUR BELOW*/

        .action-box{
            height: 300px;
            font-family: roboto;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .blue-box{
                display: flex;
                flex-wrap: wrap;
                background-color:#3382f6;
                justify-content: center;
                align-items: center;
                padding: 50px;
                border-radius: 8px;
                gap: 50px;
            
            }

            .action-text-one{
                font-weight: bolder;
            }

            .blue-box button{
                border: white solid;
           }

/*BOX FOUR ABOVE*/
/*BOX FIVE BELOW*/

.footer{
    font-family: roboto;
    background-color:#1f2937 ;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}



        



