
.body {
    background-color: black;
    min-width: 0px;
    min-height: 100vh;
    min-width: ;
    border: 10px solid green;
    margin: 0px;
    padding: 0px;
    gap:0px;
    display: flex;
}

.section-one{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    
}

.flex-one { 
    font-family: roboto ;
   /* border: 3px solid orange ;*/
    background-color:#1F2937 ;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    min-height: 200px;}

.brand {
    font-weight: bolder;
    font-size: 20px;
}


.header{
   padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.header-links{
    color:#7a7a7a;
    display: flex;
    gap: 40px;
    font-weight: 400;
}


.flex-one-within {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.flex-one-text{
    display: flex;
    column-width: 500px;
    flex-direction: column;
    padding: 10px;
    
    
}

.tagline {
    font-size: 40px;
    font-weight: 900
}

button{
    background-color:#3882F6 ;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: bolder;
   padding: 8px;
    padding-left: 30px;
   padding-right: 30px;
 }
    



a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}



/**//**/

.flex-header{
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/**//**/
.flex-two img{
    height: 150px;
    width: 150px;
    border-radius: 10.6px;
    border:solid rgb(34, 16, 1);
    border-width: 5px;
        overflow: hidden;
    margin:5px;
}

.flex-two{
    /* border:3px solid rgb(115, 115, 235); */
    display: flex;
    flex-wrap: wrap;
    color: #000000ab;
    min-height: 300px;
    min-width: 200px;;
    flex-direction: row;
    padding-bottom: 90px;
   
   justify-content: center;
   align-items: center;
   
       
}

.image{
/* border: solid 2px yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
    
    
    
}


/**/
.flex-three{
    /*border:3px solid yellow;*/
    background-color:#e4e4e4 ;
    color: rgb(37, 37, 37);
    padding:30px 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    
}

.jim-carrey{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
}

.quote{
    font-family: roboto;
    width:600px;
    font-size: 25px;    
    font-style: italic;
    font-weight: 300;
    padding: 10px 80px;
}

.quote-author{
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    width: 800px;
    margin-right: 200px;
}
/**/

.four{
    display:flex;
    justify-content: center;
    align-items: center;
}


.flex-four{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#3882F6;
    margin:30px;
    min-width: 800px;
    border-radius: 6.3px;
    padding: 50px 40px;
}

.action-call{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    }
    
    .action {    
    display: flex;
    font-family: roboto; font-size: 20px; font-weight: 600;
    color: white;
    }

    .action-two{
    color: rgba(252, 252, 252, 0.719); font-family: roboto;
    font-weight: lighter;
    margin-top: 5px; font-size:18px ;
    }

.four button{
    display: flex;
    border-color: #ffffff;
    border: 2px solid;

}

/**/


.footer{
font-family: roboto;
display: flex;
justify-content: center; align-items: center;
padding: 20px;
color: #dfdfdf;
background-color:#1F2937 ;
margin-top: auto;
}
